@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #181f25;
}

footer {
    z-index: 10;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #181f25;
    box-shadow: #000000 0 0 10px 1px;
    color: #D6D6D6;
    font-family: 'Oswald', sans-serif;
}

h1 {
    position: relative;
    font-size: 6vw;
    font-family: 'Oswald', sans-serif;
    color: #d6d6d6;
    background-color: #202A33f6;
    border-radius: 10px;
    box-shadow: #000000bb 0px 0px 5vw 1vw;
    text-shadow: 0 0 20px #000000;
    width: 35vw;
    left: 15vw;
    text-align: center;
}

h2 {
    margin: auto;
    position: relative;
    font-size: 4vw;
    top: -15vh;
    width: 90%;
}

img {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 10px;
    top: 12.5px;
}

p {
    position: relative;
    top: -22.5px;
    width: 100%;
    text-align: center;
}

Button {
    width: 15vw;
    height:5vw;
    background-color: #00000000;
    color: #d6d6d6;
    border: 2px solid #d6d6d6;
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    font-size: 3vw;
}

Button:hover {
    background-color: #d6d6d6;
    color: #181f25;
}

.navbar {
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: #181f25;
    box-shadow: #000000 0 0 10px 1px;
    color: #D6D6D6;
    font-family: 'Oswald', sans-serif;
}

.navbutton1 {
    color: #D6D6D6;
    position: absolute;
    left: 5px;
    width: 130px;
    font-size: 12.5px;
    text-align: right;
    vertical-align: middle;
    text-decoration: none;
}

.navbutton2 {
    color: #9b9b9b;
    position: absolute;
    left: 150px;
    width: 50px;
    font-size: 12.5px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}

.welcomebox {
    vertical-align: middle;
    width: 70%;
}

.mainoptions {
    position: relative;
    z-index: 1;
    background-color: #202A33f6;
    box-shadow: #000000 0px 0px 5vw 1vw;
    text-shadow: 0 0 20px #000000bb;
    width: 30%;
    font-family: 'Oswald', sans-serif;
    color: #d6d6d6;
    text-align: center;
}

.mainbox {
    position: absolute;
    height: 100%;
    width: 100%;
}

.imgback {
    background-image: url("../images/BackgroundTheme.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    height: 100%;
    width: 100%;
}
