body {
    background-color: #202A33;
}

.head {
    background-color: #181f25;
}

.headcreate {
    position: relative;
    text-align: center;
    top: 35px;
    padding: 10px;
    font-size: 50px;
    color: #D6D6D6;
}

.headplug {
    position: relative;
    text-align: center;
    font-style: italic;
    padding: 10px;
    margin-bottom: 0;
    background-color: #181f25;
    font-size: 16px;
    color: #5b7283;
}

.plug {
    color: #D6D6D6;
    text-decoration: none;
}

.plug:hover {
    color: #9b9b9b;
}

.footerthemes {
    z-index: 10;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #181f25;
    box-shadow: #000000 0 0 10px 1px;
    color: #D6D6D6;
    font-family: 'Oswald', sans-serif;
}

.pthemes {
    position: relative;
    top: -7px;
    width: 100%;
    text-align: center;
}

.navbar {
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #181f25;
    box-shadow: #000000 0 0 10px 1px;
    color: #D6D6D6;
    font-family: 'Oswald', sans-serif;
}

.navbutton1 {
    color: #D6D6D6;
    position: absolute;
    left: 5px;
    width: 130px;
    font-size: 12.5px;
    text-align: right;
    vertical-align: middle;
    text-decoration: none;
}

.navbutton2 {
    color: #9b9b9b;
    position: absolute;
    left: 150px;
    width: 50px;
    font-size: 12.5px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}

.themevs {
    position: relative;
    top: 5px;
    width: 100%;
}

.export {
    text-align: center;
    background-color: #181f25;
    padding: 50px;
}

.exporth {
    top: 0;
    padding-bottom: 20px;
    color: #5b7283;
    font-size: 50px;
}

.box {
    background-color: #202A33;
    padding-top: 25px;
    padding-bottom: 75px;
    overflow-x: auto;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #5b7283;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #374958;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #26333d;
  }