@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

h6 {
    position: relative;
    text-align: center;
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
}

text {
    font-family: 'Inconsolata', monospace;
    font-weight: lighter;
    font-size: 14;
    padding-left: 10px;
}

.viewbox {
    position: relative;
    top: -3.5%;
    width: 100%;
    height: 95%;
    background-color: black;
}

.examplebox {
    position: relative;
    width: 1100px;
    height: 895px;
    box-shadow: black 0 0 50px 0px;
    border-radius: 25px;
    background-color: #181f25;
    color: #9b9b9b;
}

.topbar {
    height: 4%;
}

.maintext {
    position: relative;
    top: -2px;
    width: 100%;
    height: 100%;
    line-height: 18px;
}

.colors {
    width: 9500px;
}

.themebox {
    position: relative;
    right: 0px;
}
